In [1]:
import pandas as pd

In [2]:
ld_train = pd.read_csv('loan_data_train.csv')

In [3]:
ld_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,4200,4200,14.33%,60 months,car,14.16%,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,19800,19775,15.31%,60 months,debt_consolidation,15.03%,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,18000,18000,20.99%,60 months,credit_card,11.63%,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,7550,7550,10.16%,36 months,debt_consolidation,3.83%,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [4]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [5]:
### Insights and Data Cleaning and Processing
## We need to ignore ID as it is not useful for prediction
# Amount.Requested                 
#Amount.Funded.By.Investors typecasting
# Interest.Rate object to float + remove % sign custom function 

# Loan.Length                     
# Loan.Purpose category encoding

# Debt.To.Income.Ratio object to float + remove % sign custom function
# State and Home.Ownership category encoding

In [6]:
#ignore columns : ID [unique ID] , Interest.Rate[target]

###info : numeric ; data type : object ; typecasting

#Account.Requested
#Amount.Funded.By.Investors
#Revolving.CREDIT.Balance
#Open.CREDIT.Lines

### info : categorical , create dummies for it

#Loan.Length
#Loan.Purpose
#State
#Home.Ownership

###info : numeric , datatype : categorical , custom function

#Debt.To.Income.Ratio
#FICO.Range
#Employment.Length

### info : numeric , data type : numeric

#Montly.Income

#Inquiries.in.the.Last.6.Months

In [7]:
ld_train['Loan.Length'].value_counts(dropna=False)

Loan.Length
36 months    1722
60 months     476
NaN             1
.               1
Name: count, dtype: int64

In [8]:
ld_train['Loan.Purpose'].value_counts(dropna=False)

Loan.Purpose
debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
NaN                      1
Name: count, dtype: int64

In [9]:
custom_func_cols = {}

In [10]:
a = ld_train['Debt.To.Income.Ratio']

In [11]:
temp = a.str.replace('%','')

In [12]:
num = pd.to_numeric(temp, errors='coerce')

In [13]:
num

0       27.56
1       13.39
2        3.50
3       19.62
4       23.79
        ...
2195    12.10
2196    14.16
2197    15.03
2198    11.63
2199     3.83
Name: Debt.To.Income.Ratio, Length: 2200, dtype: float64

In [14]:
# b = pd.Series(['1', '2', 'DSKJF'])
# pd.to_numeric(b)
# ## why coerce is important to use

In [15]:
def custom_dir(dir_col):
    temp = dir_col.str.replace('%','')
    num = pd.to_numeric(temp, errors='coerce')
    
    return num

In [16]:
custom_dir(ld_train['Debt.To.Income.Ratio'])

0       27.56
1       13.39
2        3.50
3       19.62
4       23.79
        ...
2195    12.10
2196    14.16
2197    15.03
2198    11.63
2199     3.83
Name: Debt.To.Income.Ratio, Length: 2200, dtype: float64

In [17]:
a = ld_train['FICO.Range']

In [18]:
a.str.split('-')

0       [720, 724]
1       [710, 714]
2       [690, 694]
3       [710, 714]
4       [730, 734]
           ...
2195    [675, 679]
2196    [700, 704]
2197    [675, 679]
2198    [670, 674]
2199    [710, 714]
Name: FICO.Range, Length: 2200, dtype: object

In [19]:
k=a.str.split('-', expand=True)

In [20]:
for i in [0,1]:
    k[i] = pd.to_numeric(k[i], errors='coerce')

In [21]:
num = (k[0] + k[1])*0.5

In [22]:
num

0       722.0
1       712.0
2       692.0
3       712.0
4       732.0
        ...
2195    677.0
2196    702.0
2197    677.0
2198    672.0
2199    712.0
Length: 2200, dtype: float64

In [23]:
def custom_fico (fico_col):
    temp = fico_col.str.split('-', expand=True)
    for i in [0,1]:
        temp[i] = pd.to_numeric(temp[i], errors='coerce')
    num = (k[0] + k[1])*0.5
    return num

In [24]:
a = ld_train['Employment.Length']

In [25]:
a.unique()

array(['5 years', '4 years', '< 1 year', '10+ years', nan, '2 years',
       '8 years', '1 year', '6 years', '7 years', '3 years', '9 years',
       '.'], dtype=object)

In [26]:
a.replace({'5 years': 5, '4 years': 4, '< 1 year': 0, '10+ years':10, '2 years': 2,
       '8 years': 8, '1 year': 1, '6 years':6, '7 years':7, '3 years':3, '9 years':9})

0        5
1        4
2        0
3       10
4       10
        ..
2195    10
2196     2
2197     6
2198     4
2199     2
Name: Employment.Length, Length: 2200, dtype: object

In [27]:
def custom_el (el_col):
    temp = el_col.replace({'5 years': 5, '4 years': 4, '< 1 year': 0, '10+ years':10, '2 years': 2,
       '8 years': 8, '1 year': 1, '6 years':6, '7 years':7, '3 years':3, '9 years':9})
    num = pd.to_numeric(temp, errors='coerce')
    return num

In [28]:
custom_el(ld_train['Employment.Length'])

0        5.0
1        4.0
2        0.0
3       10.0
4       10.0
        ...
2195    10.0
2196     2.0
2197     6.0
2198     4.0
2199     2.0
Name: Employment.Length, Length: 2200, dtype: float64

In [29]:
cat_to_num_cols = ['Amount.Requested','Amount.Funded.By.Investors','Revolving.CREDIT.Balance', 'Open.CREDIT.Lines']

In [30]:
simple_num_cols = ['Montly.Income','Inquiries.in.the.Last.6.Months']
cat_to_dummies_cols = ['Loan.Length','Loan.Purpose','State','Home.Ownership']

In [31]:
## first find these group of columns
## form a dictionary of these columns
## then apply the custom function to these columns

In [32]:
custom_func_cols = {'Debt.To.Income.Ratio': custom_dir, 'FICO.Range': custom_fico, 'Employment.Length': custom_el}

In [33]:
import ml_utils as mt

In [34]:
# ld_pipe=mt.DataPipe(simple_num=simple_num_cols,
#                      cat_to_dummies=cat_to_dummies_cols,
#                      custom_func_dict=custom_func_cols)

In [35]:
# cat_to_num_cols = ['Amount.Requested', 'Amount.Funded.By.Investors',
#                    'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance']

# simple_num_cols = ['Monthly.Income', 'Inquiries.in.the.Last.6.Months']

# cat_to_dummies_cols = ['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership']

In [36]:
cat_to_dummies_cols=['Loan.Length','Loan.Purpose','State','Home.Ownership']
# groups of columns for which we need to create dummies 
cat_to_num_cols=['Amount.Requested','Open.CREDIT.Lines','Revolving.CREDIT.Balance']
# columns which contain numeric info but only require simple typecasting
simple_num_cols=['Monthly.Income','Inquiries.in.the.Last.6.Months']
# columns which are all ready numeric and contain numeric information

In [37]:
ld_pipe = mt.DataPipe(simple_num=simple_num_cols,
                     cat_to_num=cat_to_num_cols,
                     cat_to_dummies=cat_to_dummies_cols,
                     custom_func_dict=custom_func_cols)

In [38]:
ld_pipe.fit(ld_train)

d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=pd.to_numeric(x[col],errors='coerce')
d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])
d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])

In [39]:
x_train = ld_pipe.transform(ld_train)

d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=pd.to_numeric(x[col],errors='coerce')
d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])
d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])

In [40]:
x_train.shape

(2200, 48)

In [42]:
ld_test = pd.read_csv('./loan_data_test.csv')

In [43]:
x_test = ld_pipe.transform(ld_test)

d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=pd.to_numeric(x[col],errors='coerce')
d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])
d:\my_codes_26_12_24_1\upes_repo\UPES_Courses_through_Notes_and_Codes\ML-DL-Intensive_Training\Day-02-22-1-25_\ml_utils.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=self.col_func_dict[col](x[col])

In [44]:
x_test.shape

(300, 48)