1. Importing Libraries

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

2. Load the Dataset

In [8]:
df = pd.read_csv('city_day.csv')
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

3. Handling Missing Values

In [9]:
# Handling Missing Values
df.fillna(df.mean(numeric_only=True), inplace=True)

4. Encoding Categorical Data

In [10]:
# Encoding Categorical Data
label_encoder_city = LabelEncoder()
df['City'] = label_encoder_city.fit_transform(df['City'])

In [11]:
label_encoder_aqi = LabelEncoder()
df['AQI_Bucket'] = label_encoder_aqi.fit_transform(df['AQI_Bucket'].astype(str))  # Encoding AQI_Bucket

5. Feature Scaling

In [12]:
# Feature Scaling (excluding "City" and "AQI_Bucket" as they are categorical)
scaler = StandardScaler()
numerical_features = df.select_dtypes(include=['float64']).columns
df[numerical_features] = scaler.fit_transform(df[numerical_features])

6. Splitting Data into Training & Test Sets

In [13]:
# Splitting Data into Training & Test Sets
X = df.drop('AQI', axis=1)  # Assuming 'AQI' is the target variable
y = df['AQI']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Display processed dataset info

In [14]:
# Display processed dataset info
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((23624, 15), (5907, 15), (23624,), (5907,))