These ideas in python enable us to store multiple values in a single object. Many other complex data structures that we will encounter later in python derive from these . Most fundamental here is a list . A list can contain anything as element, including list itself . Its created by passing elements in a `[ ]` separated by `,` . There is no restriction on what can be an element of a list , they dont all have to be of the same type either .

In [ ]:
x=[2,4,99,"python","a",0,-99]

indexing of lists work just like string . Just that now an index is assigned to an element one by one , instead of characters of the string. try to guess the outcomes of the following .

In [ ]:
a=x[-4]
a

In [ ]:
a[2]

In [ ]:
x[-4][2]

In [ ]:
x[2]

In [ ]:
x[:4]

In [ ]:
x[:2:-1]

# adding elements to a list

### adding another list

In [ ]:
x=x+[3,4]
x

### append and extend for single elements 

there is no difference in the outcome , if you consider single elements for both append and extend . but these functions make in-place changes instead of explicitly showing the results

In [ ]:
x.append(3)

In [ ]:
x

In [ ]:
x.extend([33]) # extend only works with iterables

In [ ]:
x

### append and extend for iterables 

when it comes to iterables like another list or string for example; append adds that to the list as is, where as extend extracts each element of the iterable being added and adds elements individually

In [ ]:
x.append([78,99,0])

In [ ]:
x

In [ ]:
x[-1]

In [ ]:
x.extend([78,99,0])

In [ ]:
x

## Replacing items in a list

In [ ]:
x

In [ ]:
x[3]=-100

In [ ]:
x

## Removing elements from the lists

### remove

In [ ]:
x.remove(99) 
# starts removing one by one , by value , starting at the beginning
#throws an error if the value is not in the list

In [ ]:
x

### pop

by default it removes the last value , but you can also pass a particular positions

In [ ]:
x.pop()

In [ ]:
x

In [ ]:
x.pop(2)

In [ ]:
x

### Sorting a list

a list is sortable only if contains elements which can all be meaningfully compared. so a list containing mix of say numbers and string can not be sorted .

In [ ]:
x=[4,89,0,-10,4,22]

In [ ]:
x.sort()

In [ ]:
x

In [ ]:
x.reverse()

In [ ]:
x

try creating a list with mixed kind elements and then try to sort, see what the error say

### Creating an empty list

In [ ]:
x=[] # you can do all the operations like adding , extending etc on this

# Dictionaries

dictionaries are a kind of data structures where you can access items with a key instead of their positions. this is much quicker than searching through a list. In general this serves many other purposes too. in order to create a dictionary we use `{ }` where `key:value` pairs are separated by `,` . 

* anything can be a key , except lists and dictionaries [more precise statement is that any mutable object can not be a key , but thats a technical detail we can skip for now ]
* keys need to be unique 
* there is no restriction on values

In [ ]:
mydict= {'city':'delhi',2:'pin', 'num':[3,4,5,6],'pin':2}

### accessing elements in dict

In [ ]:
mydict[56]

if you try to access with key which doesnt yet exist in dict, you get key error

In [ ]:
mydict[4]

### deleting an element

In [ ]:
mydict

In [ ]:
del mydict['city']

In [ ]:
mydict

### adding an element

In [ ]:
mydict['abc']=42

In [ ]:
mydict

In [ ]:
mydict.update({'qwe':[45,56,'test'],2:999})

In [ ]:
mydict

note that the key which already existed is simply replaced with new key:value pair instead of creating a duplicate key

### extract keys , values and key value pairs as list of tuples

In [ ]:
mydict.keys() # this behaves like a list

In [ ]:
mydict.values() # this behaves like a list

In [ ]:
mydict.items() # this is like a list of lists [tuples to be technically correct]

you can also create dictionary with list of tuples , where the first member of tuples become key and the second a value

In [ ]:
new_dict=dict([(1,2),('name','john'),('country','uk')])

In [ ]:
new_dict

### creating an empty dictionary

In [ ]:
x={} # you can do all the dict operations on this

# Sets

sets are collection of individual items [no duplicates] of immutable objects .They are good for keeping track of unique occurences and support all mathematical set operations . we create a set by putting values in `{ }`, separated by `,`

In [ ]:
myset={2,[3,4,5],7,7,8,9,9,2} 
# this will throw an error because we are trying to put a list which is mutable as one of the elements 
# simply put sets can not have lists , dictionaries , sets

In [ ]:
myset={2,3,3,4,5,7,7,8,9,9,2}

In [ ]:
myset # note that duplicates have been automatically removed

In [ ]:
x='python'

In [ ]:
x[2]='g'

### add, remove elements

In [ ]:
myset.add(10)

In [ ]:
myset

In [ ]:
myset.remove(2)

In [ ]:
myset

In [ ]:
type(myset)

### accessing and conditional check

sets are unordered , implying that you dont have usual indexing with which you can access the elements [set object is not subscriptable] . you can write a for loop over them , but you cant be sure that the elements will appear in the same order in which you passed them while creating the set

In [ ]:
myset[2]

In [ ]:
myset={45,6,7,11,34,9,10,23,11,}
for elem in myset:
    print(elem)

In [ ]:
6 in myset

In [ ]:
7 not in myset

### set operations

In [ ]:
set1={2,4,6,8,10,12,14,16,18,20,22,24,26,28,30}
set2={3,6,9,12,15,18,21,24,27,30}

In [ ]:
set1.union(set2) # symmetric operation

In [ ]:
set1.intersection(set2)

In [ ]:
set1-set2 # assymetric operation

In [ ]:
set1.symmetric_difference(set2) # this is equivalent to set1.union(set2)-set1.intersection(set2)

### creating an empty set

In [ ]:
x=set() # since {} creates an empty dictionary

Exercise : 

* find out all the numbers which are divisible by both 3 and 5 between 1 to 100

* all the numbers which are divisible by either 3 or 5 but not by both between 1 to 100

In [ ]:
a=set(range(3,101,3))
b=set(range(5,101,5))
a.intersection(b)

In [ ]:
a.union(b)-a.intersection(b)

In [ ]:
a.symmetric_difference(b)
# this is same as earlier in terms of the outcome

# Tuples

Tuples are ordered but immutable and can store a fixed number of items post their creation. They are good for maintaining constrained information. In practice as beginners we will not find many direct use cases , but they are used by many data structures internally .

In [ ]:
mytuple1=(3,4,4,5,6,8,9,9,9)
mytuple1

In [ ]:
mytuple2=4,5,5,5,5,5,8,9
mytuple2

In [ ]:
mytuple1[-1]

In [ ]:
mytuple1[2]=3 
# they dont have any addition or removal functions either. you can however add two tuples to create a new one
# but that doesnt alter the original ones as intended