In [2]:
import pandas as pd

In [5]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
print(obj.index)
print(obj.values)
print(type(obj))

RangeIndex(start=0, stop=4, step=1)
[ 4  7 -5  3]
<class 'pandas.core.series.Series'>

Series – referencing elements

In [14]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

In [19]:
print(obj2.index)
print(obj2.values)
print(obj2['a'])

obj2['d'] = -10
print(obj2[['d', 'c', 'a']])

Index(['d', 'b', 'a', 'c'], dtype='object')
[ 4  7 -5  3]
-5
d   -10
c     3
a    -5
dtype: int64

In [24]:
print(obj2.a)
print(obj2.get('a'))
print(obj2[:2])

-5
-5
d   -10
b     7
dtype: int64

Can be thought of as a dict. Can be constructed from a dict directly.

In [26]:
obj3 = pd.Series({'d': 4, 'b': 7, 'a': -5, 'c':3 })
print(obj3)

d    4
b    7
a   -5
c    3
dtype: int64

numpy array operations can also be applied, which will preserve the index-value link

In [28]:
obj4 = obj3[obj3>0]
print(obj4)

d    4
b    7
c    3
dtype: int64

In [30]:
print(obj3**2)
print('b' in obj3)

d    16
b    49
a    25
c     9
dtype: int64
True

Series – from dictionary

In [38]:
sdata = {'Texas': 10, 'Ohio': 20, 'Oregon': 15, 'Utah': 18}
states = sdata.keys()
print(type(states))
states = list(sdata.keys())
print(type(states))
print(states)

<class 'dict_keys'>
<class 'list'>
['Texas', 'Ohio', 'Oregon', 'Utah']

In [40]:
states = ['Texas', 'Ohio', 'Oregon', 'Iowa']
obj4 = pd.Series(sdata, index = states)

In [43]:
print(obj4)

Texas     10.0
Ohio      20.0
Oregon    15.0
Iowa       NaN
dtype: float64

You explicitly provided the states list as the index for the Series. The index determines which keys from the dictionary are included and in what order. Since 'Utah' is not in the states list, it is excluded. Additionally, 'Iowa' is in the states list but not in the sdata dictionary, so it is assigned a value of NaN (Not a Number) because no corresponding value exists in sdata.

In [46]:
sdata = {'Texas': 10, 'Ohio': 20, 'Oregon': 15, 'Utah': 18}
obj4 = pd.Series(sdata)  # No explicit index, includes all keys from sdata
print(obj4)

Texas     10
Ohio      20
Oregon    15
Utah      18
dtype: int64

In [48]:
states = ['Texas', 'Ohio', 'Oregon', 'Iowa', 'Utah']
obj4 = pd.Series(sdata, index=states)
print(obj4)

Texas     10.0
Ohio      20.0
Oregon    15.0
Iowa       NaN
Utah      18.0
dtype: float64

In [49]:
states = ['Texas', 'Ohio', 'Oregon', 'Iowa']
obj4 = pd.Series(sdata, index = states)
print(obj4)

Texas     10.0
Ohio      20.0
Oregon    15.0
Iowa       NaN
dtype: float64

In [50]:
print(pd.isnull(obj4))

Texas     False
Ohio      False
Oregon    False
Iowa       True
dtype: bool

In [51]:
print(pd.notnull(obj4))

Texas      True
Ohio       True
Oregon     True
Iowa      False
dtype: bool

In [52]:
print(obj4[obj4.notnull()])

Texas     10.0
Ohio      20.0
Oregon    15.0
dtype: float64

Series – auto alignment