In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('student_data.csv')

In [35]:
print('First 5 rows: -')
df.head(5)

First 5 rows: -

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [36]:
print('Last 5 rows: -')
df.tail(5)

Last 5 rows: -

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [37]:
df.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [38]:
print('Shape of dataframe: ',df.shape)

Shape of dataframe:  (395, 33)

In [39]:
columns_num = df.shape[0]
print('Number of columns:', columns_num)

Number of columns: 395

In [40]:
row_num = df.shape[1]
print('Number of rows:', row_num)

Number of rows: 33

In [41]:
print('Size of dataframe: ', df.size)

Size of dataframe:  13035

In [42]:
print('Number of missing values in the dataframe: -')
df.isnull().sum()

Number of missing values in the dataframe: -

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [43]:
print('Sum of Numberical Columns: -')
df.select_dtypes(include='number').sum()

Sum of Numberical Columns: -

age           6595
Medu          1086
Fedu           996
traveltime     572
studytime      804
failures       132
famrel        1558
freetime      1278
goout         1228
Dalc           585
Walc           905
health        1404
absences      2255
G1            4309
G2            4232
G3            4114
dtype: int64

In [44]:
print('Average of Numberical Columns: -')
df.select_dtypes(include='number').mean()

Average of Numberical Columns: -

age           16.696203
Medu           2.749367
Fedu           2.521519
traveltime     1.448101
studytime      2.035443
failures       0.334177
famrel         3.944304
freetime       3.235443
goout          3.108861
Dalc           1.481013
Walc           2.291139
health         3.554430
absences       5.708861
G1            10.908861
G2            10.713924
G3            10.415190
dtype: float64

In [45]:
print('Minimum values of Numberical Columns: -')
df.select_dtypes(include='number').min()

Minimum values of Numberical Columns: -

age           15
Medu           0
Fedu           0
traveltime     1
studytime      1
failures       0
famrel         1
freetime       1
goout          1
Dalc           1
Walc           1
health         1
absences       0
G1             3
G2             0
G3             0
dtype: int64

In [46]:
print('Maximum values of Numberical Columns: -')
df.select_dtypes(include='number').max()

Maximum values of Numberical Columns: -

age           22
Medu           4
Fedu           4
traveltime     4
studytime      4
failures       3
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      75
G1            19
G2            19
G3            20
dtype: int64

In [47]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [48]:
import openpyxl
outputfile = 'df_data.xlsx'
try:
    df.to_excel(outputfile, index=False)
    print('successful')
except FileExistsError as e:
    print(e)

successful